@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600&family=Rubik:wght@300;400;500&display=swap" rel="stylesheet');

@tailwind base;
* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 14px;
  border: 3px solid var(--primary);
}

@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #18181a;
    color: white;
  }
}

@layer components {
  .carousel-container {
    @apply relative flex items-center justify-center h-[22rem] w-[35rem] mb-[1rem] mt-[1rem];
    perspective: 450px;
    transform-style: preserve-3d;
  }

  .carousel-item {
    @apply absolute h-full w-full bg-20222e rounded-xl px-10 py-4 overflow-hidden shadow-[0_3px_10px_rgb(0,0,0,0.5)] transition-all duration-700;
  }

  .carousel-btn-switch-card {
    @apply relative z-40 flex h-9 w-9 cursor-pointer items-center justify-center rounded-full border-2 border-[#302e30] bg-[#181818] text-2xl opacity-75 transition duration-300 hover:opacity-100 md:h-12 md:w-12
  }
  
  .carousel-indicator-dots {
    @apply h-2 w-2 cursor-pointer rounded-full bg-ffffff opacity-50 transition-all duration-500 hover:w-4 hover:opacity-100;
  }

  .carousel-indicator-container {
    @apply  flex h-5 w-24 transform items-center justify-center space-x-1 rotate-180
  }

  .ProseMirror p.is-editor-empty:first-child::before {
    color: #adb5bd;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
  }
}